extends ../layout

block content
    if currentUser && currentUser.role === 'admin'
        a.btn(href='/machines/new') Utwórz nową
    ul.machine-list
        each machine in machines
            li.machine-card
                img(src='https://via.placeholder.com/150', alt=machine.name)
                .machine-info
                    h3
                        a.nav-link(href=`/machines/${machine.id}`)= machine.name
                    if machine.description
                        p= machine.description
                    if currentUser && currentUser.role === 'admin'
                        a.btn(href=`/machines/${machine.id}/edit`) Edytuj
                        form(action=`/machines/${machine.id}` method='post')
                            input(type='hidden' name='_method' value='DELETE')
                            button.btn(type='submit') Usuń