extends ../layout

block content
    h1 Zarządzanie użytkownikami
    .user-cards
        each user in users
            .user-card
                form(action=`/users/${user.id}` method='post')
                    input(type='hidden' name='_method' value='PUT')
                    label E-mail
                    p.user-email= user.email
                    label(for=`username-${user.id}`) Nazwa
                    input(type='text' id=`username-${user.id}` name='username' value=user.username required)
                    label(for=`role-${user.id}`) Rola
                    select(id=`role-${user.id}` name='role')
                        option(value='user' selected=user.role==='user') użytkownik
                        option(value='admin' selected=user.role==='admin') admin
                    .actions
                        button.btn(type='submit') Zapisz
                form(action=`/users/${user.id}` method='post')
                    input(type='hidden' name='_method' value='DELETE')
                    .actions
                        if user.role === 'admin' && adminCount === 1
                            button.btn.btn-disabled(type='submit' disabled) Usuń
                        else
                            button.btn(type='submit') Usuń